<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/public/assets/css/burger_style.css" type="text/css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="/public/assets/css/style.css" type="text/css" />
	<title>Eat DA Burger!</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/public/assets/js/burger.js"></script>
	
</head>

<body>

	<div class="jumbotron">
		<center>
			<img src="/public/assets/img/King_Hamburger_V2.jpg">

		</center>
	</div>

	<center>
		{{{ body }}}
	</center>
</body>

</html>