<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>Eat DA Burger!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/Burger_Logger_NODE_EX_HB_11_11/models/burger.js"></script>
        <link rel="stylesheet" type="text/css" href="/Burger_Logger_NODE_EX_HB_11_11/public/assets/css/burger_style.css">
	</head>
	<body>
    
    <div class="jumbotron">
     <img src="/Burger_Logger_NODE_EX_HB_11_11/public/assets/img/King_Hamburger_V2.jpg">
    </div>
		{{{ body }}}
	</body>

</html>