<h2>Eat-Da-Burger!</h2>

{{#burger cats}}
{{/burger}}

<form class="create-form">

  <div class="form-group">
    <input type="text" id="ca" name="name"><br>
    <label for="ca">Enter a burger you want to eat, the Click the "Submit" button </label>
  </div>
  <button type="submit" class="btn btn-warning">Submit</button>
</form>
