
.jumbotron {
    align-items: center;
    color: white;
    background-color: #2b4566;
  }

  .body {
    background-color: #2b4566;   
  }

  .btn btn-warning {
     color: white; 
  }

  .h2{
    color: white;  
  }

  .create-form {
      align-items: center;
  }